html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #f39c12;
    font-family: "Century Gothic";
}

.logo{
    position: absolute;
    top: 0;
    width: 100px;
    height: 60px;
    background: none;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    left: 46%;
    line-height: 20px;
}

.logo a{
    color: rgb(39, 39, 39);
    text-decoration: none;
    font-family: "Century Gothic"
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: none;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
}

.menu span{
    position: absolute;
    width: 30px;
    height: 2px;
    background: rgb(39, 39, 39);
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: .2s;
}

.menu span:nth-child(1){
    transform: translateY(-10px);
}

.menu span:nth-child(3){
    transform: translateY(10px);
}

.menu.active span:nth-child(1){
    transform: translateY(0px) rotate(-45deg);
}

.menu.active span:nth-child(3){
    transform: translateY(0px) rotate(45deg);
}

.menu.active span:nth-child(2){
    transform: translateX(-300px) rotate(90deg);
    opacity: 0;
}

.menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:#f39c12;
    transition: .5s;
    transform: translateX(-100%);
    z-index: 1;
}

.menu-bar.active{
    transform: translateX(0);
}

.menu-bar ul{
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}

.menu-bar ul li{
    list-style: none;
}

.menu-bar ul li a{
    line-height: 60px;
    font-family: "Century Gothic";
    text-transform: uppercase;
    font-weight: 660px;
    color: rgb(39, 39, 39);
    text-decoration: none;
    padding: 0 20px;
    display: block;
    transition: .5s;
    font-size: 12px;
}

.menu-bar ul li a:hover{
    background: #f39c12;
}

.main{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 94%);
}

.showcase-box{
    overflow: hidden;
    width: 320px;
    height: 180px;
}

.showcase-box img{
    width: 320px;
}

.tagline h4{
    color: rgb(39, 39, 39);
}

.main a{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .4s;
    box-shadow: 1px 1px 10px #000;
}

.main a:hover{
    background: #fff;
    color: rgb(39, 39, 39);
}

.intro{
    width: 100%;
    height: 100vh;
    background: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.intro h1{
    padding-top: 5rem;
    text-align: center;
    color: rgb(39, 39, 39);
}

.intro p{
    margin: 0 4rem;
}

.FandB{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex: 1;
    overflow: hidden;
    padding-bottom: 20px;
}

.boxes .logo-intro img{
    width: 50px;
}

.btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 5px;
    transition: .4s;
    box-shadow: 1px 1px 10px #000;
}

.prev{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 5px;
    transition: .4s;
    box-shadow: 1px 1px 10px #000;
}

.next:hover{
    background: #fff;
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.prev:hover{
    background: #fff;
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.techlearn{
    margin: 0;
    padding: 0;
    background: none;
    width: 100%;
    height: 100vh;
    color: rgb(39, 39, 39);
    overflow: hidden;
}

.techlearn h1{
    padding-top: 5rem;
    text-align: center;
    color: #000;
}

.techlogo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tech-box{
    width: 120px;
    height: 230px;
    text-align: center;
    margin: 1rem;
    overflow: hidden;
}

.tech-box img{
    width: 120px;
}

.tech-logo-box{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-logo-box img{
    width: 60px;
    padding: 20px;
}


.detailstech{
    margin: 0 5rem;
    text-align: center;
}

.sample-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-box img{
    width: 300px;
    box-shadow: 2px 1px 10px -1px #000;
    transition: .4s;
}

.sample-box{
    width: 300px;
    height: 280px;
    overflow: hidden;
    margin: 0 1rem;
}

.sample-box img:hover{
    transform: scale(1.1);
}

.html{
    margin: 0;
    padding: 0;
    background: #d35400;
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.css{
    margin: 0;
    padding: 0;
    background: #3498db;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.js{
    margin: 0;
    padding: 0;
    background: #e67e22;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.other{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.other h1{
    text-align: center;
}

.other-boxes{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.left-video video{
    width: 520px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

/*portfolio*/

.landing-page{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page h1{
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

.landing-page h4{
    color: #fff;
}

.landing-page a{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: 1px 1px 10px #000;
}

.landing-page a:hover{
    background: #fff;
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #d35400;
    color: #fff;

}

.about-me h2{
    border-bottom: 5px solid #fff;
    text-transform: uppercase;
    padding: 20 0px;
}

.imganddetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.img-box{
    overflow: hidden;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.img-box img{
    width: 280px;
}

.detailsme{
    text-align: center;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.skills-cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.skills-box{
    margin: 0 4rem;
    text-align: center;
}

.scrollbtn{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: 1px 1px 10px #000;
    margin: 4rem;
}

.scrollbtn:hover{
    background: #fff;
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects h1{
    margin: 2rem;
    color: #000;
    border-bottom: 5px solid #000;
}

.projects p{
    font-size: 20px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.project-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.project-box{
    overflow: hidden;
    width: 420px;
    height: 240px;
    text-align: center;
    border: 2px solid #fff;
}

.proj-img img{
    height: 240px;
}

.proj-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-btns .view-btn{
    background: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 188px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: 1px 1px 10px #000;
    margin: 4px;
}

.proj-btns .view-btn img{
    width: 40px;
}

.proj-btns .view-btn:hover{
    background: rgb(68, 68, 68);
    color: #fff;
}

.proj-btns .gh-btn:hover{
    background: rgb(214, 214, 214);
    color: rgb(39, 39, 39);
}

.proj-btns .gh-btn{
    background: #fff;
    color: rgb(39, 39, 39);
    padding: 10px 180px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: 1px 1px 10px #000;
    margin: 1px;
}

.contact{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #3498db;
    overflow: hidden;
    color: #fff;
}

.contact-wrapper{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.diff-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.border{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border img{
    width: 50px;
    height: 50px;
    transition: .4s;
}

@media (max-width: 768px){
    .logo{
        left: 35%;
    }

    .menu-bar{
        height: auto;
        background: #f39c12;
    }

    .menu-bar ul{
        padding-top: 60px;
        display: inherit;
        float: none;
        text-align: center;
        width: 100%;
        height: 100vh;
    }

    .showcase-box{
        overflow: hidden;
        width: 300px;
        height: 180px;
    }
    
    .showcase-box img{
        width: 300px;
    }

    .FandB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro{
        height: 200vh;
    }

    .intro p{
        margin: 0 1rem;
    }
    
    .techlearn{
        height: auto;
    }

    .techlogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detailstech{
        margin: 1rem;
        text-align: center;
    }

    .html{
        height: auto;
    }

    .sample-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .css{
        height: auto;
    }

    .js{
        height: auto;
    }

    .other{
        width: 100%;
        height: auto;
    }

    .left-video video{
        width: 280px;
    }

    .other-boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .landing-page h1{
        text-align: center;
        margin: 5px;
    }

    .landing-page h4{
        text-align: center;
        margin: 5px;
    }

    .skills-box{
        margin: 10px;
    }

    .project-box{
        width: 300px;
        height: 180px;
    }
    
    .proj-img img{
        height: 180px;
    }

    .proj-btns .view-btn{
        padding: 10px 132px;
    }

    .proj-btns .gh-btn{
        padding: 10px 124px;
    }

    .project-list{
        margin: 5px;
    }

}

.middle{
    background: #3498db;
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.middle h1{
    text-transform: uppercase;
    color: #fff;
    padding-top: 220px;
}
.btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }
    50%{
      left: 10%;
      top: -30%;
    }
    100%{
      top: -10%;
      left: -10%;
    }
}

footer{
    padding: 20px;
    background: #3498db;
    color: #fff;
    text-align: center;
}

/*portfolio*/

